.scanning-overlay {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #31385A42;
  z-index: 999;
}

.cirlce-loader {
	position: absolute;
	z-index: 1;
  border: 6px solid #FFFFFF4D;
  border-radius: 50%;
  border-top: 6px solid #FFFFFF;
  width: 65px;
  height: 65px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.cirlce-loader-star {
	position: absolute;
	z-index: 2;
}